<div class="body-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="updateForm" (ngSubmit)="update()" autocomplete="off">
                    <div class="col-md-6">
                        <app-text-input [formControl]="updateForm.controls['name']" [label]="'Location Name'" [value]="location?.name">
                        </app-text-input>
                        <app-text-input [formControl]="updateForm.controls['address']" [label]="'Address'" [value]="location?.address">
                        </app-text-input>
                        <app-text-input [formControl]="updateForm.controls['longitude']" type="number"
                            [label]="'Longitude'" [value]="location?.longitude"></app-text-input>
                        <app-text-input [formControl]="updateForm.controls['latitude']" type="number"
                            [label]="'Latitude'" [value]="location?.latitude">
                        </app-text-input>
                        <!-- <div class="form-group mb-4">
                            <label>Name</label>
                        </div> -->
                        <div class="form-group">
                            <label for="city" class=" col-form-label">City</label>
                            <select formControlName="cityId" [(ngModel)]="location.city" class="form-control">
                                <option *ngFor="let city of cities" [value]="city.id">
                                    {{ city.name }}
                                </option>
                            </select>
                        </div>
                        <input class="btn btn-block" type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>